<nb-card status="info" class="position-center" style="max-width: 600px;">
    <nb-card-header>
        <span>
            <nb-icon class="cursor-pointer" (click)="goback()" icon="arrow-back-outline"></nb-icon>
        </span>
        <span class="subtitle" style="margin-left: 0.5em;">{{pageEvent == "edit"? "Edit massage setting": "Add Massage Setting"}}</span>
    </nb-card-header>
    <nb-card-body>
        <form [formGroup]="addMassageSettingForm" (ngSubmit)="onSubmit()">

            <!-- <div class="bar" [chart]="oneLineBar"></div> -->
            <div id="container"></div>

            <div class="form-group row" style="margin-bottom: 70px;">
                <div class="col-sm-12 mb-3 mt-4">
                    <label for="inputEmail1" class="label col-form-label mr-3">Massage settings</label>
                    <button nbButton status="primary" shape="round" size="small" outline [disabled]='totalTimeLeft <= 0 ? true: false'
                        (click)="addOrEditMassageSetting(false, null, 0)">Add<nb-icon icon="plus-circle-outline"></nb-icon></button>

                </div>

                <div class="col-sm-12">
                    <table style="width: 100%;
                    border-radius: 5px;
                    border-style: hidden; 
                    box-shadow: 0 0 0 1px #666;">
                        <tr style="background-color:#0095FF; color: white;">
                            <th class="col-sm-9"
                                style="padding-left: 1em; padding-right: 1em; border-top-left-radius: 5px; ">
                                Details
                            </th>
                            <th class="col-sm-3"
                                style="padding-left: 1em; padding-right: 1em; border-top-right-radius: 5px; text-Align: Center">
                                Action
                            </th>
                        </tr>
                        <ng-container formArrayName="massageSettings">
                            <ng-container *ngFor="
                            let massageSetting of dataDisplay;
                            index as i
                          ">
                                <ng-container *ngIf="massageSetting.value.IsDeleted == false">
                                    <ng-container [formGroupName]="i">
                                        <tr>
                                            <td style="padding-left: 1em; padding-right: 1em; ">
                                                <div class=" m-3" style="  display: table;">
                                                    <div class='box' [style.background-color]='massageSetting.value.Color'></div>
                                                    <div class='inner-box'>
                                                        <div>Duration: {{massageSetting.value.Duration}}</div>
                                                        <div>Strength: {{massageSetting.value.Strength}}</div>
                                                    </div>
                                                  
                                                </div>
                                            </td>
                                            <td style="padding-left: 1em; padding-right: 1em; text-Align: Center">
                                                <button nbButton ghost status="primary" (click)="addOrEditMassageSetting(true, massageSetting.value, i)">
                                                    <nb-icon icon="edit-outline"></nb-icon>
                                                </button>
                                                <button nbButton ghost status="danger" (click)="deleteSelectedMassageSetting(i, massageSetting.value.SeriesId)">
                                                    <nb-icon icon="trash-2-outline"></nb-icon>
                                                </button>
                                            </td>
                                        </tr>
                                    </ng-container>
                                </ng-container>

                            </ng-container>
                        </ng-container>
                    </table>
                    <ng-container *ngIf="submitted && isCarPlateEmpty">
                        <p class="caption status-danger">
                            *Required!
                        </p>
                    </ng-container>

                </div>
            </div>

            <div class="form-group row " style="height:60px;">
                <label for="inputEmail1" class="label col-sm-4 col-form-label">Type</label>
                <div class="col-sm-8">
                    <nb-select formControlName="type" [status]="form.type.invalid && submitted? 'danger' : ''"
                        style="width: 100%; max-width: 100%;">
                        <nb-option *ngFor="let e of types" [value]="e.value"> {{ e.name }} </nb-option>

                    </nb-select>
                    <ng-container *ngIf="submitted && form.type.errors">
                        <p class="caption status-danger" *ngIf="form.type.errors?.required">
                            *Required!
                        </p>
                    </ng-container>
                </div>
            </div>

            <div class="form-group row" style="height:90px;">
                <label for="inputEmail1" class="label col-sm-4 col-form-label">Status</label>
                <div class="col-sm-8">
                    <mat-radio-group formControlName="isActive" style="display: flex; flex-direction: column;">
                        <mat-radio-button value="true" color="primary" style="margin: 5px;">ACTIVE
                        </mat-radio-button>
                        <mat-radio-button value="false" color="primary" style="margin: 5px;">INACTIVE
                        </mat-radio-button>
                    </mat-radio-group>
                    <ng-container *ngIf="submitted && form.isActive.errors">
                        <p class="caption status-danger" *ngIf="form.isActive.errors?.required">
                            *Required!
                        </p>
                    </ng-container>
                </div>
            </div>

            <div class="form-group row">
                <div class="offset-sm-4 col-sm-8">
                    <button nbButton fullWidth status="primary" type="submit" class="margin-top-small" size="large"
                        style="text-transform: none;">
                        Save
                    </button>
                </div>
            </div>
        </form>
    </nb-card-body>
</nb-card>