<nb-card status="info" class="position-center" style="max-width: 600px; height: 45vh;">
    <nb-card-header>
        <span class="subtitle" style="margin-left: 0.5em;">Rating Details
        </span>
        <span style="float: right;">
            <nb-icon class="cursor-pointer" (click)="close(2)" icon="close-circle-outline"></nb-icon>
        </span>
    </nb-card-header>
    <nb-card-body>
        <form [formGroup]="ratingForm">
            <div class="form-group row" style="height:60px;">
                <label for="inputEmail1" class="label col-sm-4 col-form-label">User Name</label>
                <div class="col-sm-8">
                    <input [status]="form.userName.invalid ? 'danger' : 'basic'" type="text" nbInput
                        fullWidth formControlName="userName" [attr.disabled]="true" style="color:black" />
                    <ng-container *ngIf="form.userName.errors">
                        <p class="caption status-danger" *ngIf="form.userName.errors?.required">
                            *Required!
                        </p>
                    </ng-container>
                </div>
            </div>

            <div class="form-group row" style="height:60px;">
                <label for="inputEmail1" class="label col-sm-4 col-form-label">Rating</label>
                <div class="col-sm-8">

                    <input type="text" nbInput fullWidth formControlName="" maxlength="30" style="text-indent: -9999em;
                            text-shadow : 9999em 0 0 #000; color:black" [attr.disabled]="true"
                        formControlName="rating">
                </div>
            </div>
            <div class="form-group row">
                <div class="position-center" style=" text-align: center;">
                    <button nbButton status="danger" type="button" (click)="close(2)" size="medium">
                        Close
                    </button>
                </div>
            </div>
        </form>
    </nb-card-body>
</nb-card>